*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}


.box-1 {
    height: 500px;
    width: 500px;
    background: #000;
    position: relative;
    z-index: 10000;
    margin: auto;

}

.box-2 {
    height: 200px;
    width: 200px;
    background: red;
    position: absolute;
    bottom: 0;
    left: 0;
    /* z-index:-10; */

}

li {
    cursor: pointer;
}

.services {
    position: relative;
}
.service {
    position: absolute;
    right: 0;
    left: 0px;
    top: 24px;
    /* background-color: aliceblue; */
    padding: 10px;
    width: 120px;
    align-items: center;
}


.first-h{
    font-family: 'EGOSTA', sans-serif;
    font-size: 4em;
                                                
}


.second-h{
  font-family: "Elms Sans", sans-serif;
  font-size: 3em;
  font-weight: 800;
  font-style: normal;
                                                
}


.fa-user{
    width: 100%;
    font-size: 2em;
    text-align: center;
}

.carrd {
    background-image: url('./src/img/pic.jpg');
}